*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f6f7f8;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
}
ul {
  list-style: none;
}
aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 270px;
  padding: 30px 15px;
  margin: 0 0 0 0;
  box-sizing: border-box;
  border-radius: 0;
  background-color: #fff;
  border-right: 1px solid #e9ebee;
}
aside ul {
  padding: 0;
  margin: 0;
}
aside ul li a {
  color: #444050;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 0.375rem;
  font-size: 14px;
}
aside ul li a.active {
  background-color: #e7f2fd;
  color: #3792ef;
}
aside ul li a:hover {
  background-color: #e7f2fd;
  color: #3792ef;
}
.right {
  width: calc(100% - 270px);
  padding: 0 0 0 0;
  margin-left: calc(270px + 0px);
  margin-top: 0;
}
ul li {
  padding: 0;
  margin: 1px 0;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
.main-title {
  margin: 0;
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 0;
  color: #444050;
  background-color: #fff;
}
.main-sec {
  padding: 0 25px 0 25px;
}
.logo {
  padding: 0 0 30px 0;
}
.leadName {
  display: inline-block;
  padding: 8px;
  background-color: #f3f4f6;
  margin: 0 5px;
  border-radius: 9px;
}
.btn {
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: transparent;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
}
.btn-custom {
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: #fff;
}
.btn-custom:hover {
  background-color: #0b5ed7;
  border-color: #0b5ed7;
}
.leadNameLink {
  text-decoration: none;
  color: #7c7c7c;
  font-weight: bold;
  font-size: 12px;
}
.page-title {
  font-size: 20px;
  font-weight: bold;
  padding: 30px 0;
}
input,
select {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #dee2e6;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  box-sizing: border-box;
}
.list-agent {
  padding: 0;
  font-size: 15px;
}
label {
  display: block;
  margin-bottom: 4px;
}
.lead-block {
  background-color: #fff;
  padding: 25px;
  border-radius: 9px;
  border: 1px solid #e9ebee;
}
.leads-title {
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px 10px 5px;
}
.btn-default {
  color: #000;
  padding: 2px;
  margin: 0 2px;
}
.btn-default:hover,
.btn-default.active {
  text-decoration: underline;
  color: #0b5ed7;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}
.table {
  width: 100%;
  vertical-align: top;
  text-align: left;
}
.table > thead {
  vertical-align: bottom;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
.table > tbody {
  vertical-align: inherit;
}
.table-block {
  width: calc(100% - 50px);
  background-color: #fff;
  border: 1px solid #e9ebee;
  padding: 25px;
  border-radius: 9px;
  height: 300px;
  overflow-y: scroll;
}
.table-block td {
  font-size: 13px;
  border-bottom: 1px solid rgba(189, 189, 189, 0.25);
}
.table-block th {
  border-bottom: 1px solid rgba(189, 189, 189, 0.25);
}
.table-block tr th:first-child,
.table-block tr td:first-child {
  padding-left: 0;
}
table td,
table th {
  padding: 12px;
}
.form-block {
  background-color: #fff;
  display: block;
  padding: 30px;
  border-radius: 9px;
  border: 1px solid #e9ebee;
}
.form-block form {
  width: 30%;
}
.leads-block {
  background-color: #fff;
  display: block;
  padding: 30px;
  border-radius: 6px;
  border: 1px solid #e9ebee;
  margin-top: 30px;
}
